
#color {
    position: fixed;
    left: 50%;
    top:50%;
  }

  #showName{
    position: fixed;
    left: 50%;
    top:50%;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  #div{
    float: right;
    margin: 0px 50px 0px 50px;
  }

  #sortDiv
  {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
  }

  #sort{
    list-style-type: none;
  }

  .li_element{
    color: black;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;

  }



